/* App.css */

.page-transition-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-enter {
  transform: translateX(100%);
}

.page-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.page-exit {
  transform: translateX(0);
}

.page-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  color: #333;
}
/* App.css */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

